.box{
  background-color: aquamarine;
  /* transform: translateX(-800px); */
  margin-bottom: 20px;
  animation: move 1s 1 forwards;
}

.box1{
     
}

  
  @keyframes move {
    from {
        transform: translateX(-800px);
    }
    to {
      transform: translateX(0);
    }
  }